name: PR Conflict Labeler

on:
  # So that PRs touching the same files as the push are updated
  push:
    branches:
      - main
      - develop
  # So that the `dirtyLabel` is removed if conflicts are resolved
  # We recommend `pull_request_target` so that github secrets are available.
  # In `pull_request` we wouldn't be able to change labels of fork PRs
  pull_request_target:
    types: [synchronize]

permissions:
  pull-requests: write
  issues: write
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: check if prs are dirty
        uses: eps1lon/actions-label-merge-conflict@v3
        with:
          dirtyLabel: "has conflicts"
          removeOnDirtyLabel: "has conflicts"
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
